<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <main>
        <h1>Benvenuto!</h1>
        <h3>Il sito offre diverse funzionalità</h3>
        <p>Per utilizzarle, inserisci la porzione 
            di URL relativa nella barra di ricerca,
            insieme ai parametri se necessari,
            indicati nella seguente lista</p>

        <ul>
            <li>Addizionatore - /add - query params: num1, num2</li>
            <li>Lancia un dado - /dice</li>
        </ul>
    </main>

</body>

</html>